{% extends "shifty/base.html" %}
{% block content%}
 <section class="welcome-page">
  <div class="wrapper">
    <div class="logo">
      <img src="/static/assets/img/logo.svg">
    </div>
    <h1>SHIFT Split 2016</h1>
    <div class="conf-meta">
      <p>2 active talks</p>
      <p>1 active competitions</p>
    </div>
    <div class="join">
      <a href="#">Join now</a>  
    </div>
    <div class="signin">
      <a href="#">Sign in with twitter</a>
      <a href="{% url 'social:begin' 'google-oauth2' %}">Sign in with google</a>
      <a href="#">Sign in with github</a>
    </div>
  </div>
</section>
{% endblock%}